.landing-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1691px;
}

.container {
    display: flex;
    width: 100%;
    height: 1491px;
    max-width: 1140px;
    margin: 0 auto;
}

.landing-page .name-container {
    text-align: center;
}

.landing-page .name-container h2 {
    font-family: "Jost";
    font-style: bold;
    font-weight: 500;
    font-size: 46px;
    line-height: 66px;
    color: #000000;
}

.landing-page .name-container p {
    font-family: "Jost";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 124%;
    text-align: center;
    letter-spacing: 0.08em;
    color: #ababab;
}

.landing-page {
    /* display: inline; */
    display: flex;
    flex-wrap: nowrap;
}

.landing-page .container-wrapper .container-1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: right;
    width: 35%;
    height: 600px;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.landing-page .container-wrapper .container-1 h3 {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 124%;
    text-align: right;
    color: #000000;
}

.landing-page .container-wrapper .container-1 p {
    font-family: "Jost";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 124%;
    text-align: right;
    color: #b0b0b0;
}

.landing-page .container-wrapper .container-image {
    display: flex;
    justify-content: center;
    margin-top: 101px;
}

/* section {
}

address {
} */


