.container {
    display: flex;
    width: 100%;
    height: 1291px;
    max-width: 1140px;
    margin: 0 auto;
}

.landing-page h2 {
    text-align: center;
}

.landing-page .name-container {
    text-align: center;
}

.landing-page .name-container h2 {
    font-family: "Jost";
    font-style: bold;
    font-weight: 500;
    font-size: 46px;
    line-height: 66px;
    color: #000000;
}

.landing-page .name-container p {
    font-family: "Jost";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 124%;
    text-align: center;
    letter-spacing: 0.08em;
    color: #ababab;
}

.landing-page .container {
    background-image: url(../img/container-image.svg);
    background-repeat: no-repeat;
    background-position: center 100px;
}

section {
}

address {
}
