html,
body {
    width: 100%;
}
.footer {
    width: 100%;
    height: 522px;
    background-image: url("../img/footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 15vh;
}

.about {
    width: 21vw;
    min-width: 418px;
    font-size: 28px;
}

.about p {
    margin-top: 13px;
    font-family: "Jost";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 124%;
    color: #ffffff;
}

.about h4, .contact h4, .social h4 {
    font-family: "Jost";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 124%;
    color: #ffffff;
    margin-bottom: 13px;
}

.contact a {
    margin-top: 13px;
    font-family: "Jost";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #ffffff;
}

.social a {
    margin-right: 26px;
}

.hr {
    width: 82%;
    height: 1px;
    background-color: #fff;
}

.footer h3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 124%;
    color: #FFFFFF;
    margin-bottom: 39px;
}