.header {
	display: flex;
    position: fixed;
	width: 100%;
	height: 1011px;
	top: 0;
	left: 0;
	right: 0;
	justify-content: space-between;
    align-items: center;
	z-index: 1070;
}
.header .container { display: flex;
	justify-content: flex-end;

}

.container

.header .logo { display: relative;
	top: 100px;


}

.page-wrapper {
	background-image: url(../img/header-bg.svg);
	background-position: 0 0 0;
background-repeat: no-repeat;
background-size: 100% 113%;

}











@media (max-width: 1200px) {
	.header {

	}
	.header .container {

	}
}

@media (max-width: 992px) {
	.header {

	}
	.header .container {

	}
}

@media (max-width: 768px) {
	.header {

	}
	.header .container {

	}
}