.page-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-width: 628px;
	height: 100vh;
	min-height: 60vh;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1070;
	background-image: url("../img/header-bg.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
}

.header-upper-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	min-width: 152px;
	width: 16vw;
	min-height: 15px;
	height: 50px;
	margin: 5vh 10vw;
}

nav {
	width: 636px;
	height: 25px;
	display: flex;
	justify-content: space-around;
	margin: 6.3vh 10vw 0 0;
}

nav a {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 124%;
	color: #FFFFFF;
}

.hamburger-menu {
	display: none;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.left-block {
	width: 549px;
	min-width: 360px;
	height: 300px;
	display: flex;
	align-items: baseline;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-right: 10vw;
}

.left-block h1 {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 124%;
	color: #FFFFFF;
}

.left-block p {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	line-height: 124%;
	color: #FFFFFF;
}

.right-block {
	width: 27vw;
	min-width: 347px;
	height: 66vh;
	min-height: 346px;
	background-image: url("../img/header-bg2.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 10vw;
}