.page-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	position: static;
	max-width: 100%;
	height: 1290.64px;
	top: -50;
	left: 0;
	right: 0;
	z-index: 1070;
	background-image: url("../img/header-bg.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 100%;
}

.page-wrapper .header .logo {
	display: flex;
	align-items: start;
	margin-left: 200px;
	margin-top: 70px;
}

.page-wrapper .header .bg-image {
	position: relative;
	margin-left: 520px;
	margin-top: 130px;
}

.page-wrapper .header .navigation {
	width: 100%;
	height: 100px;
}

.page-wrapper .header nav {
	margin-top: 59px;
	width: 100%;
	padding-left: 440px;
}

.page-wrapper .header nav a:hover {
	color: #d6cee1;
}
.page-wrapper .header nav a {
	margin-left: 24px;
	color: rgb(255, 255, 255);
	font-family: "Jost";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 124%;
}

.page-wrapper .header > a {
	margin-top: 55px;
	margin-left: 264.98px;
	color: rgb(255, 255, 255);
	font-family: "Jost";
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 124%;
}
.page-wrapper .header .text-logo {
	margin-top: 120px;
	width: 600px;
	height: 400px;
}

.page-wrapper .header .text-logo > a {
	margin-right: 22px;
}

.page-wrapper .header .text-logo h1 {
	margin-top: 316px;
	color: rgb(255, 255, 255);
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 124%;
	align-items: start;
}

.page-wrapper .header .text-logo p {
	margin-top: 14px;
	color: rgb(255, 255, 255);
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 124%;
	width: 600px;
}
